img {
    border: 7px solid black;
}

body {
    border: 2px solid black;
    padding: 200px;
    display: block;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(78, 205, 255);
}

body>footer {
    margin: 10px;
}


ul {
    display: block;
    list-style-type: none;
}

nav {
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
    margin: 10px;
}

.container-sections {
    display: flex;
  justify-content: center;
  align-items: center;
}

.container-artigos > article> {
    margin-bottom: 2rem;
}
.container-artigos {
    display: flex;
    flex-direction: inline;
    padding: 10px;
}

.container-imagem>img {
    text-align: center;
  }
  