img {
    border: 10px solid black;
    width: 300px;
    height: 200px;
}

body {
    border: 2px solid black;
    padding: 250px;
    display: block;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(78, 205, 255);
}

ul {
    display: block;
    list-style-type: none;
}

nav {
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
    margin: 10px;
}